{% extends "base.html" %}

{% block content %}
<h1>Команда проекта:</h1>
<div>
    <table class="table table-sm">
        <tbody>
        <tr>
            <th>Главные разработчики</th>
            <td></td>
        </tr>
        <tr>
            <td scope="row">YaAlex</td>
            <td>Сайт, API</td>
        </tr>
        <tr>
            <td scope="row">Andrew</td>
            <td>Основная логика программы, Парсинг</td>
        </tr>

        <tr>
            <th>Наставники</th>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Дмитрий Григорьевич</td>
            <td>Руководитель проекта</td>
        </tr>

        <tr>
            <th>Консультанты и тестировщики</th>
            <td></td>
        </tr>

        <tr>
            <td scope="row">Иван Черненький</td>
            <td>Консультатнт</td>
        </tr>
        <tr>
            <td scope="row">Артем Скрипчак</td>
            <td>Тестировщик</td>
        </tr>
        <tr>
            <td scope="row">Александр Чепрасов</td>
            <td>Помощь с внешним видом сайта</td>
        </tr>
    </table>
</div>
{% endblock %}