<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/underline.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/morph.css') }}">

    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar">
        <a class="navbar-brand" href="/">PhotoRus</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/syntactic_parsing">Syntactic Parser <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/morph_pars">Morph Parser <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api_document">Api Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
            </ul>
        </div>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-primary register" href="/register">Зарегистрироваться</a>
            <a type="button" class="btn btn-success login" href="/login">Войти</a>
        </div>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>