{% extends "base.html" %}

{% block content %}
<h1 class="h1">Проект PhotoRus</h1>
<div class="paragraph">
    <h2>Что такое PhotoRus</h2>
    <div class="paragraph">
        <selector class="lead">
            Проект, предоставляющий бесплатные инструменты для анализа русского языка.
        </selector>
    </div>
    <br>
    <h2>Что включает в себя PhotoRus</h2>
    <div class="paragraph">
        <ul>
            <li>
                Синтаксический и Пунктационный анализ предложения.
            </li>
            <li>
                Морфологический анализ слова.
            </li>
        </ul>
        <selector class="lead">
            В дальнейшем планируется добавлять инструменты и развивать сервис.
        </selector>
    </div>
</div>
{% endblock %}