{% extends "base.html" %}

{% block content %}
<h1 class="h1">Синтаксический разбор предложения</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}<br>
    </p>
    <p>{{ form.check_grammar() }} {{ form.check_grammar.label }} </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
<p>
    {{errors}}
    {% autoescape false %}{{content}}{% endautoescape %}
</p>
{% endblock %}